@import url('https://fonts.googleapis.com/css?family=Inria+Serif:300|Tangerine&display=swap');

$h1-color: #fff;
$h2-color: #333;
$time-color: red;
$arrow-color: red;
$footer-text-color: #ccc;
$footer-link-color: #ee3333;
$footer-title-color: #222;
$bgc-color: #333;

$h1-ff: 'Dancing Script', cursive;
$h2-ff: 'Inria Serif', serif;